*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #595967;
    text-decoration: none !important;

}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 45%;
    padding-top: 3%;
}

@media screen and (max-width: 768px){
    form{
        width: 80%;
    }
}

.button{
    background-color: #3C5AFF;
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: center;
    box-shadow: 3px 6px 12px 0px rgba(87, 38, 235, 0.12), -4px -8px 16px 0px #FFF;
    color: #FFFFFF;
    border-radius: 8px;
}

h1{
    font-weight: bold;
}

h1,
p {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #595967;
}

p {
    font-size: smaller;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #595967;
}

.form-label {
    font-weight: bold;
    font-size: small;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #595967;
}

#inputName,
#inputLastName,
#inputPhoneNumber,
#inputBirthday,
#inputMail,
#inputPassword,
#inputVerifyPassword {
    background-color: #f2f2f2;
}

link {
    text-align: center;
}

a {
    font-weight: bold;
}

.logo {
    width: 50%;
}

#formRegister,
#formLogin {
    width: 100%;
}

div.container {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}